@charset "utf-8";
@use "sass:color";
@use "./lib/_variable" as var;
@use "./lib/_functions" as fn;
@use "./lib/_core" as core;
@use "./lib/_table_of_contents_toggle";
@use "./lib/_table_of_contents_button";
@use "./lib/_codeblock";
@use "./lib/_tag_cloud";
@use "./lib/_dark_mode";

/*
  Theme: CodeFocus
  Author: guitarrapc_tech
  Responsive: yes
  Description:
    技術記事の執筆しやすさを追求したシングルカラムのテーマです。
    レスポンシブデザインで、モバイル・タブレット・PCすべての画面サイズで最適表示されます。

    記事の読みやすさを最優先に、余計な装飾を省いたデザインで文章に集中できます。
    コードブロックは見やすい配色で、コピー・折り返し機能も提供しておりプログラミングコードを扱う技術ブログに最適です。
    ダークテーマも用意されており、目の疲れを軽減します。
    JavaScriptカスタマイズを行うことで、特徴的な目次機能（ページ内目次・固定目次ボタン）、コードブロック機能、ダークテーマ機能を追加して長文記事も快適に読めます。

    デモページ
    https://codefocus.hatenablog.jp/entry/2025/05/17/015533

    カスタマイズの方法はこちらの記事を参考にしてください
    https://codefocus.hatenablog.jp/entry/2025/05/20/221750

    ソースコードはGitHubで公開しています。(MITライセンス)
    https://github.com/guitarrapc/hatenablog-theme-codefocus

    変更履歴:
    2025/05/23: v1.0.0 イニシャルリリース
    2025/05/24: v1.1.0 コンテンツの幅を広げる調整。
    2025/05/25: v1.2.0 アーカイブページのサムネイルサイズと配置の調整。
    2025/05/25: v1.3.0 横1200px以上の解像度モニターでは850px表示まで拡大します。
    2025/05/27: v1.4.0 タグクラウドをJSベースに変更、ダークモードボタン機能を追加、コードブロックの折り返し機能を追加。
    2025/05/27: v1.4.1 スマホ表示におけるフッターの最新記事のサムネイルとタイトルの配置、コメントのアイコン/名前の配置を調整。
  Released under the MIT License.
*/

@import "normalize.css";
