@charset "utf-8";
@use "sass:color";
@use "./lib/_variable" as var;
@use "./lib/_functions" as fn;
@use "./lib/_core" as core;
@use "./lib/_table_of_contents_toggle";
@use "./lib/_table_of_contents_button";
@use "./lib/_codeblock";
@use "./lib/_tag_cloud";
@use "./lib/_dark_mode";

/*
  Theme: CodeFocus
  Author: guitarrapc_tech
  Responsive: yes
  Description:
    * このテーマの特徴
    技術記事の読みやすさを追求したシングルカラムのテーマです。

    本テーマ導入時は、必ずこちらの記事を読んでください。導入方法、JavaScriptのカスタマイズが書かれています。
    https://codefocus.hatenablog.jp/entry/2025/05/17/015533

    * 特徴
    余計な装飾を省いたシンプルなデザインで、技術的な文章に集中できます。
    レスポンシブデザインで、モバイル・タブレット・PCすべての画面サイズで最適に表示されます。
    コードブロックは見やすい配色で、コピー・折り返し機能も提供しておりプログラミングコードを扱う技術ブログに最適です。
    JavaScriptカスタマイズにより、目次機能（ページ内目次・固定目次ボタン）やダークモード機能、コードブロック機能を追加でき、長文記事も快適に読めます。
    コードブロックは読みやすさを最優先に設計されており、見やすい配色とコピー・折り返し機能でプログラミングコードを快適に扱えます。

    * カスタマイズ
    デザインCSSを用いたカスタマイズ方法
    https://codefocus.hatenablog.jp/entry/2025/05/20/221750

    * ソースコード
    GitHubで公開しています。(MITライセンス)
    https://github.com/guitarrapc/hatenablog-theme-codefocus

    * 変更履歴:
    - 2026/01/04: v1.9.0 Zennのように目次を常時表示するように変更(幅1540px以上のスクリーン限定)。複数記事が1ページに存在する場合、スクロール位置の記事を自動判別するように修正。TOCボタンのパフォーマンス改善とメモリリーク対策。長い目次で現在位置を自動スクロール表示。(customize-toc-button.htmlを更新してください)
    - 2025/12/28: v1.8.0 背景画像設定時に目次や目次トグルボタンの背景が白固定になっていたのを透明化対応。
    - 2025/12/26: v1.7.0 本文の文字間隔を調整し読みやすさを向上。リンクに左右の余白を追加。Noto Sans JPフォント採用とプロポーショナルメトリクス有効化。
    - 2025/11/26: v1.6.1 h要素のaタグ訪問済みリンク色を調整。
    - 2025/11/24: v1.6.0 本文中の訪問済みリンクの色を調整。
    - 2025/06/10: v1.5.3 ページャー(次の記事/前の記事)の矢印アイコンが改行されるケースを防止。最初の記事で次の記事が左寄せになるのを修正。
    - 2025/06/10: v1.5.2 ページャー(次の記事/前の記事)の矢印アイコンが表示できていなかったのを修正。
    - 2025/06/09: v1.5.1 目次の縦青線の軸がズレていたのを修正、フロート目次の表示/非表示のトランジションが機能していないのを修正。
    - 2025/05/30: v1.5.0 テーマ導入だけではダークテーマは有効にならないように変更。ダークテーマ向けJavaScriptを追加すると有効になります。
    - 2025/05/30: v1.4.2 ul,ol,ddの左パディングをわずかに広げる調整。
    - 2025/05/27: v1.4.1 スマホ表示におけるフッターの最新記事のサムネイルとタイトルの配置、コメントのアイコン/名前の配置を調整。
    - 2025/05/27: v1.4.0 タグクラウドをJSベースに変更、ダークモードボタン機能を追加、コードブロックの折り返し機能を追加。
    - 2025/05/25: v1.3.0 横1200px以上の解像度モニターでは850px表示まで拡大します。
    - 2025/05/25: v1.2.0 アーカイブページのサムネイルサイズと配置の調整。
    - 2025/05/24: v1.1.0 コンテンツの幅を広げる調整。
    - 2025/05/23: v1.0.0 イニシャルリリース。
  Released under the MIT License.
*/

@import "normalize.css";
